.home-buttons { 
  padding-top:15%;
}

.back-button {
  margin-left:46.5%;
}

.input-append button.add-on {
    height: inherit !important;
}

.cal-event {
  background-color : #bd362f;
}

table .btn{
  padding: 1px 5px 1px;
  font-size: 10px;
  margin-right: -3px;
  float: right;
}
